<!--<div>-->
<!--    <h1>{{task.title}}</h1>-->
<!--    <a routerLink='../../../tasks/{{task.id}}'>Edit</a>-->
<!--</div>-->
<!--<div *ngFor="let task of tasks">-->
<!--    <Ul>-->
<!--        <li><a routerLink="/todos/{{todo_id}}/items/{{task.id}}">{{task.name}}</a></li>-->
<!--        <li>{{task.done}}</li>-->
<!--        <li>-->
<!--            <form (ngSubmit)="onItemDelete(todo_id, task.id)" >-->
<!--                <button>Delete</button>-->
<!--            </form>-->
<!--        </li>-->
<!--    </Ul>-->
<!--</div>-->
<!--&lt;!&ndash; <a routerLink = '/tasks/{{todo_id}}/items'>Add task to this Todo</a> &ndash;&gt;-->
<!--<app-add-items (addItem)= "addItem($event)"></app-add-items>-->



<div class="container container-fluid">
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Done ?</th>
      <th *ngIf="can">Action</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let task of tasks; index as srl">
      <td>
        <div *ngIf="can; else unauthorized">
          <a routerLink="/todos/{{todo_id}}/items/{{task.id}}"> {{task.name}}"</a>
        </div>
        <ng-template #unauthorized>
          {{task.name}}
        </ng-template>

      </td>
      <td>{{task.done}}</td>
      <td *ngIf="can">
        <button class="btn btn-danger" data-target="#deleteModal" data-toggle="modal" (click)="setItem(todo_id, task.id)">Delete</button>

        <a class="btn btn-info" routerLink="/todos/{{todo_id}}/items/{{task.id}}/edit">Edit</a>
      </td>
    </tr>
    </tbody>
  </table>
  <app-add-items *ngIf="can" (addItem)= "addItem($event)"></app-add-items>


  <div>
    <div class="modal" id="deleteModal" tabindex="-1">
      <div class="modal-dialog" >
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Delete Confirmation</h4>
            <button class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <h5>Are you sure to delete this item?</h5>
          </div>
          <div class="modal-footer">
<!--            <form (ngSubmit)="onItemDelete(todo_id, task.id)">-->
<!--              <button>Delete</button>-->
<!--            </form>-->
            <button class="btn btn-primary" (click)="onItemDelete(delete_todo, delete_item)" data-dismiss="modal">Yes</button>
            <button class="btn btn-primary" data-dismiss="modal">No</button>
          </div>
        </div>

      </div>
    </div>
  </div>







</div>
