<div class="container container-fluid">
  <table class="table">
    <thead>
    <tr>
      <th>Title</th>
      <th>Created By</th>
      <th *ngIf="authService.isLoggedIn()" >Action</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let todo of todos; index as todo_id">
      <td>
        <div >
          <a routerLink="/tasks/{{todo.id}}/items" >{{todo.title}}</a>
        </div>
        <ng-template #loggedOut>
          {{todo.title}}
        </ng-template>

      </td>
      <td>{{todo.username}}</td>
      <td *ngIf="authService.isLoggedIn()">
        <div *ngIf="todo.created_by == this.userId ">
          <button class="btn btn-danger" data-target="#deleteModal" data-toggle="modal" (click)="setTodo(todo.id)">Delete</button>
          <a class="btn btn-info" routerLink="/tasks/{{todo.id}}">Edit</a>
        </div>

      </td>
    </tr>
    </tbody>
  </table>

  <div>
    <div class="modal" id="deleteModal" tabindex="-1">
      <div class="modal-dialog" >
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Delete Confirmation</h4>
            <button class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <h5>Are you sure to delete this item?</h5>
          </div>
          <div class="modal-footer">
            <!--            <form (ngSubmit)="onItemDelete(todo_id, task.id)">-->
            <!--              <button>Delete</button>-->
            <!--            </form>-->
            <button class="btn btn-primary" (click)="onTodosDelete(delete_todo)" data-dismiss="modal">Yes</button>
            <button class="btn btn-primary" data-dismiss="modal">No</button>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
